<?xml version="1.0"?>
<config>
    <modules>
        <SGH_BundleTierPrices>
             <version>0.1.0</version>
        </SGH_BundleTierPrices>
    </modules>
    <admin>
    </admin>
    <global>
        <models>
            <bundle>
                <rewrite>
                    <product_price>SGH_BundleTierPrices_Model_Bundle_Product_Price</product_price>
                </rewrite>
            </bundle>
            <catalog>
                <rewrite>
                    <product_type_price>SGH_BundleTierPrices_Model_Product_Price</product_type_price>
                </rewrite>
            </catalog>
        </models>
    </global>
</config>